<div class="container" mt-5>
    <form [formGroup]="formularioCadastrao">

        <div class="form-group">
            <label>Nome</label>
            <input [ngClass]="{ 'border-success': formularioCadastrao.get('nome')?.valid }" formControlName="nome"
                type="text" class="form-control">
        </div>


        <div class="form-group">
            <label>CPF</label>
            <input [ngClass]="{ 'border-success': formularioCadastrao.get('cpf')?.valid }" formControlName="cpf"
                type="text" class="form-control">
            <span class="text-danger"
                *ngIf="formularioCadastrao.get('cpf')?.touched && formularioCadastrao.get('cpf')?.invalid">O CPF deve
                conter 11
                dígitos</span>
        </div>


        <div class="form-group">
            <label>E-mail</label>
            <input [ngClass]="{ 'border-success': formularioCadastrao.get('email')?.valid }" formControlName="email"
                type="email" class="form-control">
            <span class="text-danger" *ngIf="formularioCadastrao.get('email')?.errors?.email">E-mail em formato
                inválido</span>
        </div>


        <div class="form-group">
            <label>Telefone</label>
            <input [ngClass]="{ 'border-success': formularioCadastrao.get('telefone')?.valid }"
                formControlName="telefone" type="text" class="form-control" placeholder="00000-0000">
            <span class="text-danger"
                *ngIf="formularioCadastrao.get('telefone')?.touched && formularioCadastrao.get('telefone')?.invalid">O
                telefone
                deve conter 9 dígitos</span>
        </div>


        <div class="form-group">
            <label class="mr-2">Sexo: </label>
            <div class="form-check form-check-inline">
                <input formControlName="sexo" class="form-check-input" type="radio" name="sexo" value="1">
                <label class="form-check-label">Masculino</label>
            </div>
            <div class="form-check form-check-inline">
                <input formControlName="sexo" class="form-check-input" type="radio" name="sexo" value="2">
                <label class="form-check-label">Feminino</label>
            </div>
        </div>


        <div class="form-group mt-2">
            <label for="exampleInputPassword1">Data de Nascimento</label>
            <input formControlName="dataNascimento" type="date" class="form-control">
        </div>


        <button type="submit" class="btn btn-primary mr-2" (click)="editaUsuario()"
            [disabled]="formularioCadastrao.invalid">Submit</button>
        <button type="button" class="btn btn-secondary" [routerLink]="['/']">Voltar</button>
    </form>
</div>